/* ------RESET & BASE STYLES------- */
html, body {
    font-size: 16px;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #F0EAD2;
    color: #6C584C;
}

img {
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}
/*---------Typography----------*/
body {
    color: #6C584C;
}

h1, h2, h3, h4 {
    font-weight: 500;
    text-align: center;
}

h1 {
    font-size: 3em;
    line-height: 43px;
    font-family: 'Outfit', sans-serif;
    color: #adc178;
}

h2 {
    font-size: 30px;
    font-family: 'Funnel Display', sans-serif;
    color: #6C584C;
}

h3, h4 {
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    color: #adc178;
}

/*---------Layout----------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #adc178;
    padding: 0;
    color: #6C584C;
    /*height: auto;*/
    flex-wrap: wrap;
}

article {
    background-color: #dde5b6;
    padding: 20px 30px 30px 30px;
}

footer {
    background: #6C584C;
    color: #F0EAD2;
}


#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 55px 20px;
    background-color: #F0EAD2;
    color: #6C584C;
}

#about h2 {
    margin: 20px;
}
  
.about-text {
    background-color: #dde5b6;
    padding: 30px;
    border-radius: 12px;
    max-width: 800px;
    font-size: 1.1rem;
    line-height: 1.6;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
}

.project-wrapper h2 {
    margin-top: 3px;
}

#projects p, .grouped-projects a {
    text-align: center;
}

.project {
    flex: 1 1 300px;              
    background-color: #F0EAD2;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 1em;
    border: 5px solid #a98467;       
    margin: 10px;
    max-width: 350px;
}

#contact h2 {
    padding: 0;
    margin: 0;
    color:#adc178;
}

.skills li, 
.tools li {
    font-family: Quicksand, sans-serif;
}

.skills ul, 
.tools ul {
    padding: 0;
    font-size: 1.4em;
}

/*--------Components-------*/
nav {
    padding: 10px;
    font-size: 1em; 
    font-family: Quicksand, sans-serif;
    font-weight: bold;
    color: #6C584C;
    display: flex;
    gap: 30px;
}

.nav-links ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links a {
    color: #6C584C;
    font-weight: 600;
    font-size: 1em;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: Quicksand, sans-serif;
    padding: 10px;
}

.button {
    display: block;
    padding: 10px 16px;
    font-size: 1rem;
    background-color: #adc178;
    color: white;
    /*text-decoration: none;*/
    font-weight: bold;
    border-radius: 6px;
    margin: 15px auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #a98467;
}

.me {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 70px;
    box-sizing: border-box;
    display: block;
    margin: 20px auto;
    border: 10px solid #F0EAD2;
    object-fit: cover;
    background-color: #F0EAD2;
}

.greeting {
    background-color: #dde5b6;
    padding: 40px;
    text-align: center;
}

.grouped-projects {
    margin-bottom: 30px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 2.5em;
    background-color: #dde5b6;
    gap: 15px;
    justify-content: space-evenly;
}

.grouped-projects h3 {
    font-size: 1.4em;
    margin: 10px;
    color: #6C584C;
}


.grouped-projects p {
    margin-bottom: 10px;
}

.contact {
    padding: 20px;
}

.contact h3 {
    font-weight: 700;
}

.contact p {
    display: flex;
    justify-content: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 8px;
}
  
.social-icons img {
    width: 45px;
    height: auto;
}

.social-icons a {
    display: inline-block;
}

/*----------Utilites----------*/


/*--------------Mobile---------------*/
@media (max-width: 600px) {
    .nav-links ul {
        gap: 10px;
    }
      
    .nav-links a {
        font-size: 0.9rem;
    }
      
    .logo {
        font-size: 1.2rem;

    }

    .grouped-projects {
        flex-direction: column;
        align-items: center;
    }
      
      
}

/*-------------Tablet------------*/
@media (min-width: 601px) and (max-width: 1024px) {
    nav ul {
        flex-direction: row;
        margin: 0;
    }

    nav a {
        margin: 10px 0;
    }

    #about p {
        column-count: 2;
        column-gap: 40px;
    }

    #skills h2 {
        margin: 0;
    }

    #contact h2 {
        padding-top: 10px;
    }

    .grouped-projects {
        align-items: center;
    }

    .skills-tools-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        padding-left: 20px;
    }

    .skills, .tools {
        flex: 1;
    }

    .contact {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px; 
        padding: 0 0 16px 22px;
    }

    .contact div {
        flex: 1;
        text-align: center;
    }

}

/*-----------Desktop------------*/
@media (min-width: 1025px) {

    .logo {
        font-size: 40px;
    }

    nav {
        font-size: 30px;
    }

    .nav-links ul {
        gap: 45px;
    }

    .greeting {
        padding: 30px;
    }

    .greeting h2, .project-wrapper h2 {
        font-size: 40px;
    }

    .grouped-projects {
        gap: 20px; 
    }

    .project {
        flex: 1 1 calc(33.333% - 20px); 
        background-color: #202322;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 1em;
    }

    .grouped-projects h3 {
        font-size: 30px;
        
    }

    .grouped-projects a {
        box-sizing: border-box;
        margin-bottom: 20px;
      }
    
    #about h2 {
        font-size: 45px;
    }

    #about p {
        column-count: 2;
        column-gap: 40px;
        font-size: 25px;
        padding: 30px;
        margin: 10px;
    }

    #skills h2 {
        margin: 0;
        padding: 10px;
        font-size: 35px;
    }

    .skills-tools-wrapper {
        display: flex;
        justify-content: space-around;
        gap: 40px;
        padding-left: 20px;
    }

    .skills-tools-wrapper h3 {
        font-size: 23px;
    }

    .skills-tools-wrapper li {
        font-size: 20px;
    }

    #contact h2 {
        padding: 20px;
    }

    .contact {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px; 
        padding: 0 0 16px 22px;
    }

    .contact div {
        flex: 1;
        text-align: center;
    }

}