header {
    padding-top: 30px;
    padding-bottom: 60px;
    border: 4px solid green;
}

nav {
    margin-bottom: 60px;
    border: 4px solid yellow;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

h1, h2, h3 {
    text-align: center;
}

section {
    border: 4px solid red;
}

article {
    border: 4px solid purple;
}

footer {
    border: 4px solid blue;
}

header div h1 {
    padding-bottom: 30px; 
}

header div h2 {
    padding-bottom: 30px;
}

section div h2 {
    padding-top: 80px;
}

figure img {
    padding-top: 20px;
    padding-bottom: 20px;
}

section div h3 {
    padding: 20px 40px;
}

section div p {
    padding-bottom: 30px;
}

section div p a {
    padding: 40px 40px;
}

