html, body {
    font-size: 16px;
    height: 100%;
    margin: 0;
}

body {
    color: #e2e3ed;
}


header {
    padding-bottom: 25px;
}

nav {
    padding: 10px;
    font-size: 1em;
    display: block; 
    font-family: Quicksand, sans-serif;
    font-weight: bold;
    background-color: #527158;
    color: #e2e3ed;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

h1 {
    font-size: 3em;
    font-weight: 500;
    line-height: 43px;
    font-family: Outfit, sans-serif;
}

h2 {
    font-size: 30px;
    font-weight: 500;
    font-family: Funnel Display, sans-serif;
}

h3, h4 {
    font-size: 18px;
    font-weight: 500;
    font-family: Quicksand, sans-serif;
}

h1, h2, h3 {
    text-align: center;
}

div {
    display: block;
}

p {
    font-family: Open Sans, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

#about {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#about h2 {
    color: darkolivegreen;
}

#about p {
    font-size: .9em;
    margin: 30px;
    color: darkolivegreen;
}

article {
    background-color: #2a423a;
    padding: 20px;
}

footer {
    background: #202322;
}

header div h1 {
    padding-bottom: 30px; 
}

header div h2 {
    padding-bottom: 30px;
}

img {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

section div h3 {
    padding: 20px 40px;
}

section div p {
    padding-bottom: 30px;
}

section div p a {
    padding: 40px 40px;
}

.me {
    width: 100%;
    height: auto;
    border-radius: 70px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    border: 15px solid ;
}

.greeting {
    background-color: #202322;
    padding: 10px 0px;
}

